<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Task Manager</h1>

            <a href="/api/v1/auth/signup">
            <button>Sign Up</button>
            </a>

            <a href="/api/v1/auth/login">
            <button>Login</button>
            </a>
        </div>
    </div>

</body>
</html>